<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="mainContent">
  <div class="row">
    <div class="col-8 mx-auto">
      <form action="/add-request" method="post">
        <div class="row">
          <div class="col-12">
            <label>ФИО : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="form-control" name="userName" placeholder="ФИО :" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Курс : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <select name="courseName" id="cars" class="form-control" required>
              <option value="" disabled selected>Выберите Курс</option>
              <option value="Java Standard Edition">Java Standard Edition</option>
              <option value="Web Technologies">Web Technologies</option>
              <option value="Python Programming Language">Python Programming Language</option>
              <option value="Java Pro">Java Pro</option>
              <option value="UX/UI Design">UX/UI Design</option>
              <option value="Django Framework">Django Framework</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Телефон : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="form-control" name="phone" placeholder="+7(7__)_______)" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Комментарий : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <textarea placeholder="Комментарий" name = "commentary" class = "form-control" style="height: 150px" required></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button class="btn btn-success">Добавить Заявку</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</html>