<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="mainContent">

  <div class="row">
    <div class="col-8 mx-auto">
      <form action="/save-request" method="post" th:if = "${zapros!=null}">
        <input type ="hidden" name="id" th:value="${zapros.getId()}">
        <input type ="hidden" name="handled" th:value="true">
        <div class = "col-8 mx-auto">
          <h3 class="text-center" th:text="${zapros.isHandled()}? 'Обработанная Заявка':'***Новая Необработанная Заявка***'"
              th:style="${zapros.isHandled()}? 'color: green': 'color:red'"
          ></h3>
        </div>
        <div class="row">
          <div class="col-12">
            <label>ФИО : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="form-control bg-light" name="userName" th:value="${zapros.getUserName()}" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Курс : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="form-control bg-light" name="courseName" th:value="${zapros.getCourseName()}" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Телефон : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" class="form-control bg-light" name="phone" th:value="${zapros.getPhone()}" readonly>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <label>Комментарий : </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <textarea name = "commentary" class = "form-control bg-light" style="height: 150px" th:text="${zapros.getCommentary()}" readonly></textarea>
          </div>
        </div>
        <div class="row mt-3 ">
          <div class = "col-md-3" th:style="${zapros.isHandled()}? 'display:none;':'padding-right: -10px'">
            <button class="btn btn-success" >Обработать Заявку</button>
          </div>
          <div class = "col-3" th:style="${zapros.isHandled()}? '' : 'margin-left: -45px'">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" >Удалить Заявку</button>
          </div>
        </div>
      </form>
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form th:action="@{'/delete-request'}" method="post" th:if = "${zapros!=null}">
              <input type="hidden" name="id" th:value="${zapros.getId()}">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить Заявку</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3 class = "text-center">Вы уверены?</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Закрыть</button>
                <button class="btn btn-danger">Да</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>